<% if current_user == @post.creator || admin? %>
  <p class='pull-right'>
    [<%= link_to 'Edit Post', edit_post_path(@post) %>]
  </p>
<% end %>

<%= render @post.categories %>

<%= render 'shared/content_title', title: @post.title %>

<div>
  <p><%= @post.description %></p>
  <p>
    <br>
    <span class='quiet'>Posted by: </span><%= link_to @post.creator.username, user_path(@post.creator) %>
    <small> - <%= format_full_time(@post.created_at) %></small>
  </p>
</div>
<hr/>

<% if logged_in? %>
  <% if @comment.errors.any? %>
    <div class='alert alert-error'>
      <strong>Please correct the following errors:</strong>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for [@post,  @comment] do |f| %>
    <%= f.label :body, "Leave a comment:" %> 
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.submit "Submit Comment", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>
<p class='lead'>
  Comments:
  <hr/>
</p>

<div id="comment-section">
  <%= render @post.comments.limit(@comment_limit), profile_page: false %>
</div>

<div class="span9" id="load_comments">
  <% if @post.comments.size > @comment_limit %>
    <%= link_to "Load more comments...", post_path(@post, limit: (@limit_increase + 5)), class: "btn btn-primary", id: "load-more-btn", remote: true %>
  <% end %>
</div>
<br>
<br>